@use '@angular/material' as mat;

.theme-light {
  --its-primary: #c14343;
  --its-on-primary: #ffffff;
  --its-secondary: #5599d0;
  --its-on-secondary: #0e1116;
  --its-tertiary: #912e2e;
  --its-on-tertiary: #ffffff;

  --its-surface: #f8fbff;
  --its-on-surface: #30353a;
  --its-surface-variant: #d6deea;
  --its-outline: #ccd6eb;
  --its-background: #eef3fd;
}

.theme-dark {
  --its-primary: #c14343;
  --its-on-primary: #0b0f13;
  --its-secondary: #61afef;
  --its-on-secondary: #0b0f13;
  --its-tertiary: #863737;
  --its-on-tertiary: #ffffff;

  --its-surface: #1a1e24;
  --its-on-surface: #bccad8;
  --its-surface-variant: #2f3b4d;
  --its-outline: #283846;
  --its-background: #0b0f13;
}

$its-light: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$cyan-palette,
      tertiary: mat.$red-palette,
    ),
  )
);

$its-dark: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$cyan-palette,
      tertiary: mat.$red-palette,
    ),
  )
);

:root.theme-light {
  @include mat.theme($its-light);
}

:root.theme-dark {
  @include mat.theme($its-dark);
}
