@use '@angular/material' as mat;
@use './presentation/theme/its.theme' as *;

@include mat.core();

:root.theme-light {
  @include mat.theme($its-light);
  color-scheme: light;
}

:root.theme-dark {
  @include mat.theme($its-dark);
  color-scheme: dark;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: var(--its-background);
  color: var(--its-on-surface);
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
