:host {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.logo-img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
  image-rendering: -webkit-optimize-contrast;
}

@media (max-width: 900px) {
  :host {
    block-size: min(10vh, 100%);
  }
}
