@use '@angular/material' as mat;
@use './presentation/theme/its.theme' as *;

@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: var(--its-background);
  color: var(--its-on-surface);
}

:root.theme-light {
  color-scheme: light;
}
:root.theme-dark {
  color-scheme: dark;
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
